:root {
  --color-primary: #056cf2;
  --color-primary-pale: hsl(
    from var(--color-primary) h calc(s - 40) calc(l + 40)
  );
  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 20));
  --color-secondary: #daa0f2;
  --color-secondary-pale: hsl(
    from var(--color-secondary) h calc(s - 40) calc(l + 15)
  );
  --color-secondary-dark: hsl(from var(--color-secondary) h s calc(l - 20));
  --color-accent: #88dff2;
  --color-success: #88f2a6;
  --color-success-dark: hsl(from var(--color-success) h s calc(l - 20));
  --color-warning: #f2eb88;
  --color-warning-dark: hsl(from var(--color-warning) h s calc(l - 20));
  --color-danger: #f28d88;
  --color-danger-dark: hsl(from var(--color-danger) h s calc(l - 20));
  --color-grey: #d8e0f2;
  --color-grey-dark: hsl(from var(--color-grey) h s calc(l - 20));
  --color-grey-darker: hsl(from var(--color-grey) h s calc(l - 30));

  --container: 65rem;
  --container-narrow: 35rem;

  --spacer: 1.5;
  --spacer-xs: calc(var(--spacer) * 1rem / 6);
  --spacer-s: calc(var(--spacer) * 1rem / 3);
  --spacer-m: calc(var(--spacer) * 1rem / 2);
  --spacer-ml: calc(var(--spacer) * 1rem * (2 / 3));
  --spacer-base: calc(var(--spacer) * 1rem);
  --spacer-l: calc(var(--spacer) * 1rem * 2);
  --spacer-xl: calc(var(--spacer) * 1rem * 3);
  --spacer-em-xs: calc(var(--spacer) * 1em / 6);
  --spacer-em-s: calc(var(--spacer) * 1em / 3);
  --spacer-em-m: calc(var(--spacer) * 1em / 2);
  --spacer-em-base: calc(var(--spacer) * 1em);
  --spacer-em-l: calc(var(--spacer) * 1em * 2);
  --spacer-em-xl: calc(var(--spacer) * 1em * 3);

  --type-small: 0.875rem;
  --type-scale-xxxl: clamp(2.887rem, 16.175cqi, 13.288rem);
  --type-scale-xxl: clamp(2.566rem, 12.535cqi, 9.969rem);
  --type-scale-xl: clamp(2.281rem, 9.759cqi, 7.478rem);
  --type-scale-h1: clamp(2.027rem, 7.637cqi, 5.61rem);
  --type-scale-h2: clamp(1.802rem, 6.011cqi, 4.209rem);
  --type-scale-h3: clamp(1.602rem, 4.759cqi, 3.157rem);
  --type-scale-h4: clamp(1.424rem, 3.793cqi, 2.369rem);
  --type-scale-h5: clamp(1.266rem, 3.043cqi, 1.777rem);
  --type-scale-h6: clamp(1.125rem, 2.458cqi, 1.333rem);

  --radius: calc(var(--spacer) * 1em / 3);
  --radius-s: calc(var(--radius) / 2);
  --radius-l: calc(var(--radius) * 2);

  --shadow: 0 var(--spacer-xs) var(--spacer-m) #0002;

  --transition: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  &:focus-visible {
    outline: 0.125rem solid var(--color-primary-dark);
  }
}

html {
  font-family: var(--font-primary);
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1.5rem;
  transition: font-size var(--transition);
}

.type-scale-xxxl {
  font-size: var(--type-scale-xxxl);
  line-height: 1.1;
}

.type-scale-xxl {
  font-size: var(--type-scale-xxl);
  line-height: 1.1;
}

.type-scale-xl {
  font-size: var(--type-scale-xl);
  line-height: 1.1;
}

h1,
.type-scale-h1 {
  font-size: var(--type-scale-h1);
  line-height: 1.1;
}

h2,
.type-scale-h2 {
  font-size: var(--type-scale-h2);
  line-height: 1.2;
}

h3,
.type-scale-h3 {
  font-size: var(--type-scale-h3);
  line-height: 1.3;
}

h4,
.type-scale-h4 {
  font-size: var(--type-scale-h4);
}

h5,
.type-scale-h5 {
  font-size: var(--type-scale-h5);
}

h6,
.type-scale-h6 {
  font-size: var(--type-scale-h6);
}

a {
  transition: background-color var(--transition), color var(--transition),
    opacity var(--transition), border var(--transition),
    text-decoration var(--transition);
}

button {
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
}

.srt {
  position: absolute;
  white-space: nowrap;
  clip-path: polygon(0 0, 0.1% 0, 0.1% 0.1%, 0 0.1%);
  width: 1px;
  height: 1px;
}

input:where(:not([type='checkbox'], [type='radio'])),
select,
textarea {
  display: block;
  width: 100%;
  padding: var(--spacer-s);
  background-color: #fff;
  border: 0.0625rem solid var(--color-grey-dark);
  border-radius: var(--spacer-xs);
  font: inherit;

  & + label {
    margin-block-start: var(--spacer-xs);
  }

  &:user-valid {
    border-color: var(--color-primary);
  }

  &:user-invalid {
    border-color: var(--color-danger);
    background-color: hsla(from var(--color-danger) h s l / 20%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

label {
  cursor: pointer;
}

label:where(
    :not(:has(+ [type='checkbox'], + [type='radio'])):not(
        [type='checkbox'] + label,
        [type='radio'] + label
      )
  ) {
  display: block;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

label:has(+ input, + select, + textarea) {
  margin-block-end: var(--spacer-xs);
}

.word_highlight {
  text-shadow: 0.125rem 0.125rem var(--color-primary);
}

.word_highlight_alt {
  text-shadow: 0.125rem 0.125rem var(--color-secondary);
}

/* .word_highlight {
  --highlight-color: var(--color-secondary);
  display: inline-block;
  position: relative;
  isolation: isolate;
  &::before {
    content: ' ';
    position: absolute;
    inset: 30% -0.25em 0 0.25em;
    background-color: var(--highlight-color);
    z-index: -1;
  }
}

.word_highlight--dark {
  --highlight-color: var(--color-secondary-dark);
} */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: var(--icon-size, 1.5em) !important;
}

/* 

Concept 1
#BFAAB0
#817B8C
#555973
#323F59
#F2CCC9

Concept 2
#BFBBA8
#F2E7DC
#73715C
#BF8773
#D95525

#E7BDF2
#DAA0F2
#D8E0F2
#056CF2
#88DFF2

*/
