:root {
  --color-primary: #930;
  --color-primary-light: #c63;
  --color-primary-dark: #610;

  --font-primary: 'Roboto', sans-serif;

  --container: 65em;
  --container-narrow: 35em;

  --spacer-base: 1.5rem;
  --spacer-xs: calc(var(--spacer-base) / 6);
  --spacer-s: calc(var(--spacer-base) / 3);
  --spacer-m: calc(var(--spacer-base) / 2);
  --spacer-l: calc(var(--spacer-base) * 2);
  --spacer-xl: calc(var(--spacer-base) * 3);

  --radius: calc(var(--spacer-base) / 3);
  --radius-small: calc(var(--radius) / 2);
  --radius-large: calc(var(--radius) * 2);

  --transition: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  line-height: 1.5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1.5rem;
  transition: font-size var(--transition);
}

input:where(:not([type='checkbox'], [type='radio'])),
select,
textarea {
  display: block;
  width: 100%;
  padding: var(--spacer-s);
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  border-radius: var(--spacer-xs);

  & + label {
    margin-block-start: var(--spacer-xs);
  }
}

label:where(
    :not(:has(+ [type='checkbox'], + [type='radio'])):not(
        [type='checkbox'] + label,
        [type='radio'] + label
      )
  ) {
  display: block;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

label:has(+ input, + select, + textarea) {
  margin-block-end: var(--spacer-xs);
}

code {
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--radius-small);
  background-color: #f2f2f2;
  border: 0.0625rem solid #ccc;
  &:has(+ code) {
    border-radius: var(--radius-small) 0 0 var(--radius-small);
  }
  & + code {
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
    border-inline-start: 0;
  }
}
