.container {
  --container-width: var(--container);
  width: min(100%, var(--container-width));
  margin-inline: auto;
  padding-inline: var(--spacer-base);
}

.container_narrow {
  --container-width: var(--container-narrow);
}

.layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);
  min-height: 100dvh;
  padding: var(--spacer-base);

  @media only screen and (min-width: 50em) {
    --sidebar-width: 20rem;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: 0;
    padding: 0;
  }

  @media only screen and (min-width: 80em) {
    --sidebar-width: 25rem;
  }
}

.layout_sidebar {
  display: contents;
  /* background-color: var(--color-primary); */
  container-type: inline-size;

  @media only screen and (min-width: 50em) {
    display: block;
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: scroll;
    padding: var(--spacer-base);
  }
}

.layout_title {
  font-size: var(--type-scale-xxxl);
  /* text-shadow: 0.125rem 0.125rem var(--color-secondary); */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: var(--spacer-m);
}

.layout_title span {
  display: block;
}

.layout_title_line {
  height: 0.25rem;
  background-color: var(--color-primary);
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0 0.125rem var(--color-secondary), 0 0.25rem var(--color-accent);
  translate: 0 -0.25rem;
}

.layout_disclaimer {
  @media only screen and (min-width: 50em) {
    display: none;
  }
}

.layout_content {
  display: contents;
  gap: var(--spacer-m);
  align-self: start;
  @media only screen and (min-width: 50em) {
    display: grid;
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: scroll;
    padding-block: var(--spacer-base);
    padding-inline-end: var(--spacer-base);
  }
}
