.preview {
  padding: var(--spacer-base);
  overflow: hidden;
  width: 100%;
}

.preview_content {
  padding: var(--spacer-base);
  margin-inline: calc(var(--spacer-base) * -1);
  overflow-x: scroll;
  container-type: inline-size;
}

.preview_heading_wrap {
  margin-block-end: var(--spacer-base);
}

.preview_heading_code {
  margin-block-end: var(--spacer-xs);
}

.preview_heading {
  white-space: nowrap;
}
