.preview {
  /* padding: var(--spacer-base); */
  overflow: hidden;
  width: 100%;
}

.preview_header {
  border-block-end: 0.125rem double #eee;
  padding-inline: var(--spacer-base);
  padding-block-end: var(--spacer-s);
  padding-block-start: var(--spacer-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer-m);
}

.preview_button_wrap {
  display: flex;
  gap: var(--spacer-m);
  padding-inline: var(--spacer-base);
  padding-block-start: var(--spacer-base);
}

.preview_title {
  text-transform: uppercase;
  margin: 0;
  font-size: var(--type-step-3);
  flex-grow: 1;
}

.preview_content {
  padding: var(--spacer-base);
  overflow-x: scroll;
  container-type: inline-size;
}

.preview_heading_wrap {
  margin-block-end: var(--spacer-base);
}

.preview_heading {
  white-space: nowrap;
  margin-block-end: var(--spacer-base);
  font-weight: bold;
}
