.preview {
  padding: var(--spacer-base);
  overflow: hidden;
  width: 100%;
}

.preview_title {
  text-transform: uppercase;
  margin: 0;
  font-size: var(--type-step-3);
  border-block-end: 0.125rem double #eee;
  margin-inline: calc(var(--spacer-base) * -1);
  padding-inline: var(--spacer-base);
  padding-block-end: var(--spacer-s);
}

.preview_content {
  padding: var(--spacer-base);
  margin-inline: calc(var(--spacer-base) * -1);
  overflow-x: scroll;
  container-type: inline-size;
}

.preview_heading_wrap {
  margin-block-end: var(--spacer-base);
}

.preview_heading {
  white-space: nowrap;
}
