.controls {
  display: grid;
  gap: var(--spacer-m);
}

.controls_heading {
  margin: 0;
}

.mediaQuery_item {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  gap: var(--spacer-m);
  padding-block-end: var(--spacer-m);
  border-block-end: 0.125rem solid var(--color-primary-dark);
  /* margin-block-end: var(--spacer-m); */
}

/* .mediaQuery_span2 */

.mediaQuery_span {
  grid-column: span 2;
  margin: 0;
}

.mediaQuery_fullSpan {
  grid-column: 1 / -1;
  margin: 0;
}

.label_subtle {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: normal;
}
