.codeBox {
  padding: var(--spacer-base);
  background-color: var(--color-primary-pale);
  width: 100vi;
}

.codeBox_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-base);
}

.codeBox_title {
  text-transform: uppercase;
  font-size: var(--type-scale-h4);
}

.codeBox_copy_button {
  justify-self: start;
  /* @media only screen and (min-width: 80rem) {
    position: absolute;
    inset: var(--spacer-m) var(--spacer-ml) auto auto;
  } */
}

.pre {
  width: 100vi;
  overflow-x: scroll;
  display: block;
  padding: var(--spacer-m);
  background-color: var(--color-primary-pale);
  border-radius: var(--radius);
  margin: 0;
}

@media only screen and (min-width: 45em) {
  .codeBox {
    width: 100%;
  }

  .pre {
    width: 100%;
  }
}
