.fontSizeCopyLine {
  margin-block-end: var(--spacer-xs);
  display: flex;
  position: relative;
  z-index: 1;
  font-size: 0.75rem;
}

.fontSizeCopyLine_code:where(:not(button > code)) {
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--radius-s);
  background-color: var(--color-secondary);
  border: 0.0625rem solid var(--color-primary);
  vertical-align: middle;
  white-space: nowrap;
}

.fontSizeCopyLine_code:where(:first-child:not(:last-child)) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

/* .fontSizeCopyLine_copy + .fontSizeCopyLine_code,
.fontSizeCopyLine_code + .fontSizeCopyLine_code {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-inline-start: 0;
} */

.fontSizeCopyLine_copy {
  padding: var(--spacer-xs) var(--spacer-s);
  background-color: var(--color-secondary);
  border: 0.0625rem solid var(--color-primary);
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
}

.fontSizeCopyLine_copy:where(:last-child) {
  border-radius: 0 var(--spacer-s) var(--spacer-s) 0;
}

.fontSizeCopyLine_copy:where(:hover, :focus-visible) {
  background-color: var(--color-primary);
  cursor: copy;
  /* color: var(--color-primary-dark); */
}

.fontSizeCopyLine_copied,
.fontSizeCopyLine_copied:where(:hover, :focus-visible) {
  background-color: var(--color-success);
  cursor: unset;
}

.fontSizeCopyLine_icon {
  font-size: 1.1875rem;
}
