.fontSizeCopyLine {
  margin-block-end: var(--spacer-xs);
  display: flex;
}

.fontSizeCopyLine_code {
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--radius-small);
  background-color: var(--color-secondary);
  border: 0.0625rem solid var(--color-primary);
  vertical-align: middle;
  white-space: nowrap;
}

.fontSizeCopyLine_code:has(+ code, + button) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.fontSizeCopyLine_copy + .fontSizeCopyLine_code,
.fontSizeCopyLine_code + .fontSizeCopyLine_code {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-inline-start: 0;
}

.fontSizeCopyLine_copy {
  padding: var(--spacer-xs) var(--spacer-s);
  background-color: var(--color-secondary);
  border: 0.0625rem solid var(--color-primary);
  border-radius: var(--radius-small) 0 0 var(--radius-small);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
}

.fontSizeCopyLine_copy:where(:hover, :focus-visible) {
  background-color: var(--color-primary);
  /* color: var(--color-primary-dark); */
}

.fontSizeCopyLine_copied,
.fontSizeCopyLine_copied:where(:hover, :focus-visible) {
  background-color: var(--color-success);
}

.fontSizeCopyLine_icon {
  font-size: 1.1875rem;
}
